.parent
{
  border: 3px solid red;
  display: flex;
  flex-direction: row;
}

.childone{
  border: 3px solid blue;
  padding: 3%;
  margin: 2%;
  width: 30%;
  text-align: center;
  border-radius: 10%;
}
img{
  width: 40%;
  border: 3px solid grey;
  border-radius: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 7px 9px #000;
}

.childtwo
{
  border: 3px solid blue;
  padding: 3%;
  margin: 2%;
  border-radius: 10%;
  width: 70%;

}
table{
  width:90%;
}
td{
  padding:2%;
}
@media only screen and (max-width: 480px)
{
  .parent
  {
    border: 3px solid red;
    display: flex;
    flex-direction: column;
  }

  .childone{
    border: 3px solid blue;
    padding: 3%;
    margin: 2%;
    width: 90%;
    text-align: center;
    border-radius: 10%;
    background-color: #33FCFF;
  }

  a{
    word-wrap: break-word;
  }
  h1{
    word-wrap: break-word;
  }

  h3{
    word-wrap: break-word;
  }

  p{
    word-wrap: break-word;
  }

  img{
    width: 40%;
    border: 3px solid grey;
    border-radius: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 7px 9px #000;
  }

  .childtwo
  {
    border: 3px solid blue;
    background-color: #33FCFF;
    padding: 3%;
    margin: 2%;
    border-radius: 10%;
    width: 90%;

  }

}

  @media only screen and (min-width: 481px) and (max-width: 768px)
  {
    .parent
    {
      border: 3px solid red;
      display: flex;
      flex-direction: row;
    }

    .childone{
      border: 3px solid blue;
      font-family: cursive;
      font-size: 100%;
      padding: 3%;
      margin: 2%;
      width: 100%;
      text-align: left;
      border-radius: 10%;
      background-color: #FF33B8;
    }

    a{
      word-wrap: break-word;
    }
    h1{
      word-wrap: break-word;
    }

    h3{
      word-wrap: break-word;
    }

    p{
      word-wrap: break-word;
    }

    img{
      width: 40%;
      border: 3px solid grey;
      border-radius: 60%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 5px 7px 9px #000;
    }

    .childtwo
    {
      border: 3px solid blue;
      font-family: sans-serif;
      background-color: #6E33FF;
      padding: 3%;
      margin: 2%;
      border-radius: 10%;
      width: 100%;

    }
  }

  @media only screen and (min-width: 769px) and (max-width: 1024px)
  {
    .parent
    {
      border: 3px solid red;
      display: flex;
      flex-direction: row;
    }

    .childone{
      border: 3px solid blue;
      font-family: Trebuchet MS;
      color: white;
      font-size: 100%;
      padding: 3%;
      margin: 2%;
      width: 30%;
      text-align: center;
      border-radius: 10%;
      background-color: #C70039;
    }

    a{
      word-wrap: break-word;
    }
    h1{
      word-wrap: break-word;
    }

    h3{
      word-wrap: break-word;
    }

    p{
      word-wrap: break-word;
    }

    img{
      width: 40%;
      border: 3px solid grey;
      border-radius: 60%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 5px 7px 9px #000;
    }

    .childtwo
    {
      border: 3px solid blue;
      font-family: Trebuchet MS;
      background-color: #3381FF;
      color: white;
      padding: 3%;
      margin: 2%;
      border-radius: 10%;
      width: 70%;

    }
  }


 }
